##OSX stuff
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.AppleDouble
.LSOverride



#Node stuff
node_modules
.gulp
data2/
data/temp/
foo.js
gulpfile.js
data/18f.json
data/18f-old.json
data/18f*.json
data/dom*.json
data/helpers/old/*

##Sublime Text stuff
*.sublime-project
*.sublime-workspace
