##OSX stuff
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.AppleDouble
.LSOverride



#Node stuff
node_modules
.gulp
data2
gulpfile.js
sort.js
package.json


##Sublime Text stuff
*.sublime-project
*.sublime-workspace